{% extends 'base_error.html.twig' %}

{% block body %}
    <br>
    <br>
    <div class="container-fluid text-center">
        <img src="{{ asset('build/images/500.png') }}"/>
        <br>
        <br>
        <p>
            Une erreur serveur s'est produite.
        </p>
    </div>
{% endblock %}

