{% extends 'base.admin.html.twig' %}

{% block body %}
    <div id="details"></div>
{% endblock %}

{% block javascripts %}
    <script>
        const type = "{{ app.request.get('referential') }}";
    </script>
    {{ encore_entry_script_tags('details') }}
{% endblock %}

